<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Alterar Senha</h2>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

	{% with messages = get_flashed_messages(with_categories=True) %}
    	{% if messages %}
        	{% for category, message in messages %}
            	<p class="{{ category }}">{{ message }}</p>
       		{% endfor %}
		{% endif %}
	{% endwith %}


    <form method="POST">
        <label for="senha_atual">Senha Atual:</label>
        <input type="password" id="senha_atual" name="senha_atual" required>
        
        <label for="nova_senha">Nova Senha:</label>
        <input type="password" id="nova_senha" name="nova_senha" required>
        
        <label for="confirmar_senha">Confirmar Nova Senha:</label>
        <input type="password" id="confirmar_senha" name="confirmar_senha" required>
        
        <button type="submit">Alterar Senha</button>
    </form>

    <p><a href="{{ url_for('home') }}">Voltar</a></p>
</body>
</html>
